* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.id-container {
  display: flex;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 5px;
}

.id-container img {
  margin-right: 3px;
}

.credit-card {
  width: 15%;
  height: 150px;
}

.bank-logo {
  display: flex;
  justify-content: flex-end;
}

.number-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 2rem;
}

.driver-card img {
  width: 10%;
  height: auto;
}
